
.services {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    gap: 20px; /* Gap between grid items */
    margin: 30px;
  }
  @media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr; /* One column for screens up to 768px */
    }
}

 
  .services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
  }

  .services .icon-box::before {
    content: "";
    position: absolute;
    background: #fdeff2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.4s;
    z-index: -1;
  }
  
  .services .icon-box:hover::before {
    background: #0d0b0b;
    top: 0;
    border-radius: 0px;
  }
  /**
  .services .icon {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #e43c5c;
    transition: all 0.3s ease-in-out;
  }
  
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #111;
  }
  
  .services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover .title a,
  .services .icon-box:hover .description {
    color: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #fff;
  }
  